html, body {
  font-family: 'Noto Serif Khojki', serif;
}

body {
  background-color: #002FA7;
}


.prop_img {
  width: 100%;
  max-height: 600px;
  object-fit: cover; /* Ajusta la imagen manteniendo la relación de aspecto y cubriendo el contenedor */
}

@media only screen and (min-width: 768px) {
  .prop_img {
    max-height: 800px; /* Elimina la restricción de altura para tamaños de pantalla más grandes */
  }
}

/*.prods{
  background-color: white ;
}*/
.nav-link {
  color:#ebf5fb;
  
}

.bluebcg {
  background-color: #ebf5fb;
}

.logo {
  width: 600px;
}

.carousel-inner {
  max-height: auto;
  max-width: 100%;
} 

.container2 {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 10px;
}

.container2 img {
  width: 60%;
  border-radius: 22%;
  justify-content: center;
  border-color:black;
}

.left {
  flex: 1;
  justify-content: center;
  margin-right: 10%;
  margin-left: 10%;
}

.right {
  flex: 1;
  justify-content: center;
  margin-right: 10%;
  margin-left: 10%;
}

.cent {
  flex: 1;
  justify-content: center;
  margin-right: 10%;
  margin-left: 10%;
  color:black;
}
.titols {
  text-align: center;
}

.contenidor22 {
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  justify-content: center;
}

.contenedor img {
  border-radius: 10%;
  justify-content: center;
  border-color:black;
}

.contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


nav {
  background-color: #002FA7;
}

.navbar-brand img {
  width: 5%;
}

.carousel-item {
  height: 1080px;
  width: 800px;
  justify-content: center;
}

.titols {
  color:#002FA7;
}

.container-fluid img{
  border-radius: 10%;
}

.container-fluid{
  color: black;
}

.bgw {
background-color: white;
}

.fila {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 20px; /* Ajusta el valor según sea necesario */

}

.fila a{
  text-decoration: none; 
  color: black;
}

.servicio-fila {
  display: flex;
  justify-content: center;
}

.subp {
  justify-content: left;
  color:white;

}

.prods {
  background-color: #ebf5fb;
}

.tanc {
  background-color: #002FA7;
  color:white;
}

.text-center{
  color:white;
}
