body {
  background-color: white;
}

.prods{
  background-color: #ebf5fb;
}
.nav-link {
  color:#ebf5fb;
  
}

.logo {
  width: 600px;
}

.carousel-inner {
  max-height: 500px;
  max-width: 2000px;
}

.container2 {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 10px;
}

.container2 img {
  width: 60%;
  border-radius: 22%;
  justify-content: center;
  border-color:black;
}

.left {
  flex: 1;
  justify-content: center;
  margin-right: 10%;
  margin-left: 10%;
}

.right {
  flex: 1;
  justify-content: center;
  margin-right: 10%;
  margin-left: 10%;
}

.cent {
  flex: 1;
  justify-content: center;
  margin-right: 10%;
  margin-left: 10%;
  color:black;
}
.titols {
  text-align: center;
}

.contenidor22 {
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  justify-content: center;
}

.contenedor img {
  border-radius: 10%;
  justify-content: center;
  border-color:black;
}

.contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


nav {
  background-color: #006CFF;
}

.navbar-brand img {
  width: 5%;
}

.carousel-item {
  height: 1080px;
  width: 800px;
  justify-content: center;
}

.titols {
  color:#006CFF;
}
